body {
  font-family: "Trebuchet MS", "Helvetica", "Arial", sans-serif;
}
@media (max-width: 768px) {
  body{
    font-size: 14px;
  }
}
/* ヘッダーロゴ */
.site-title{
  display: flex;
  align-items: center;
  gap: 0.1rem;
}

.site-title .AkiTypeLogo{
  width: 80px;
  height: auto;
  vertical-align: middle;
  color: orange;
}
.AkiTypeLogo:hover{
  transition: transform 1.0s ease;
  transform: rotate(180deg);
}

.title-logo{
  margin: 0;
  font-family: "Trebuchet MS", "Helvetica", "Arial", sans-serif;
  font-size: 3.0rem;
  font-weight: 800;
  text-transform: uppercase;
  
}
.logo-AKI{
  color: #4a90e2;
  margin: 0;
}
.logo-TYPE{
  /* color: #f69; */
  margin: 0;
}

.title-logo:hover{
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  background-image: -webkit-linear-gradient(left, #f69, #fc0, #3c3, #09f, #96f);
  background-image: -moz-linear-gradient(left, #f69, #fc0, #3c3, #09f, #96f);
  background-image: -o-linear-gradient(left, #f69, #fc0, #3c3, #09f, #96f);
  background-image: -ms-linear-gradient(left, #f69, #fc0, #3c3, #09f, #96f);
}


.header-intro{
  font-size: 1.2rem;
  gap: 5px;
  font-weight: normal;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  text-align: left;
}
.header-intro p{
  margin:0;
}
.header-intro-aki{
  font-weight: bold;
  color: #4a90e2;
}
@media (max-width: 768px) {
  .header-intro{
    text-align: center;
    margin-top: 0;
    margin-bottom: 50px;
  }
}

/*ナビゲーション*/  
.nav ul{
  display: flex;
  font-weight: 500;
}
a{
  color: inherit;
}
a:hover{
  color: #4a90e2;
  transition: transform 1.0s ease;
  transform: rotateY(360deg);
}

/*フッター*/
.site-footer {
  gap: 2rem;
  font-weight: bold;
  text-align: center;
}
.footer-credit{
  margin-bottom: 10px;
}
.footer-contact{
  display: flex;
  justify-content: center;
  gap: 2rem;
}

/*committee test*/
